
body {
    font-family: 'Lato', sans-serif;

}

.container {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

body {
    margin:0 0 0 10%;
}

/*navigation bar */
#navBackground {
    background-color: #10B9D2;
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
}

/*the logo and mission statement for openideo*/
.logo {
   text-align: center;
   background-color: #D9DEDE;
   padding-bottom: 10%;
}

p {
    margin: 0 30% 0 30%;
}

h5 {
    padding: 5% 0 0 0 ;
    margin: 0;
}



/*designers portion*/

h3 {
    font-size: 2em;
    padding: 7% 0 7% 0;
}

.designers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

