
.container {
    font-size: 1.5em;
}

h1 {
    text-align: center;/*centering Contact us headline*/
    font-size: 3em;
    background-color: #D9DEDE;
    margin: 0;
    padding: 10% 0 10% 0;
}

.flex-container {
    display: flex;/*making items in flex-container block*/
    justify-content: center;
    flex-direction: column;
    margin: 20px 10% 0 10%;
    padding: 5% 0 0 10%;
}
.locationContainer {
    padding-top: 50px;
}

form {
    padding-right: 40px;
    
}

h3 {
    margin-top: 0;
}

input {
    font-size: .75em;
    background-color: #D9DEDE}