.navBackground {
    background-color: #10b9d2;
        height: 100%;
        width: 10%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 350px;
        text-decoration: none;
    
}

/* this is link text color, the href anchors change it */
.navBackground a {
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    
}

.navBackground li {
    list-style-type: none;
    line-height: 50px;
    margin: 0 0 0 -40%;
    text-align: center;
}

.navBackground a:hover {
    color: black;
    font-size: small;
}




body {
    margin: 0 0 0 10%;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
}


.welcomeText {
    font-size: 7em;
    text-align: center;
    
}

.removeMargin {
    margin: 10% 0 0 0;
    
}

.welcomeText2 {
    text-align: center;
    font-style: italic;
    letter-spacing: 1em;
    line-height: 1em;
    margin-top: -40px;
    padding-top: -40em;

}


.footer {
    text-align: center;
    font-size: xx-small;
    position: relative;
}

.footer ul {
    padding-top: .5em;
    padding-right: 5em;  
    text-decoration: none;  
}

.footer li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.footer li a:visited {
    color: #10b9d2;
}

.footer li a:hover {
    font-size: small;
}

.fontStyle {
    color: black;
    font-size: smaller;
}

.fontStyle a:visited {
    color: black;
}

.fontStyle a:hover {
    color: #d9dede;
}

html, body {
    height: 100%;

}

.wrapper {
    min-height: 45%;
    margin-bottom: 1px;
}

.footer, .push {
    height: 1px;

}

.images {
    padding-top: 5em;
    margin-left: 15em;
}

.imagesTwo {
    padding-bottom: 5em;   
}

.logo-nav {
  position: absolute;
  top: 25px;
  left: 30px;
}